@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root[data-theme='light'] {
  --svg-color: black;
}
 
:root[data-theme='dark'] {
  --svg-color: white;
}
